.index {
  .nav {
    margin-top: 40rpx;
  }
  .nav_3 {
    margin-top: 40rpx;
  }
  .container {
    margin: 40rpx 30rpx;
    .container_title {
      margin-left: 20rpx;
      font-size: 34rpx;
      font-weight: 700;
      letter-spacing: 0.2em;
    }
    .activity_list {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      .activity {
        display: flex;
        flex-direction: column;
        width: 330rpx;
        margin: 10rpx 0rpx;
        border-radius: 10rpx;
        border: 1rpx solid #ccc;
        box-shadow: 5rpx 5rpx 10rpx 3rpx #eee;
        overflow: hidden;
        image {
          width: 330rpx;
          height: 185.625rpx;
        }
        text {
          margin: 0rpx 10rpx 20rpx;
          overflow: hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-box-orient: vertical;
        }
        .title {
          margin: 20rpx 10rpx;
          font-size: 28rpx;
          font-weight: 500;
          -webkit-line-clamp: 1;
        }
        .content {
          font-size: 24rpx;
          -webkit-line-clamp: 3;
        }
      }
    }
    .site_wrap {
      display: flex;
      flex-flow: wrap row;
      justify-content: space-between;
      image {
        margin: 10rpx 0;
        border-radius: 10rpx;
      }
      .site_big {
        width: 340rpx;
        height: 191rpx;
      }
      .site_small {
        width: 220rpx;
        height: 123rpx;
      }
    }
  }
}